{% extends "base.jinja2" %}
  
{% block head %}
{{ super() }}
<title>Flask APP Template - Help</title>
{% endblock %}
  
{% block content %}
{{ super() }}

<div class="container">
  <div class="row">
    <div class="col-md-12">Help and how to...</div>
  </div>
</div>

{% endblock %}


