
</br>

<div class="container">
  
  <nav class="navbar navbar-expand-lg navbar-light bg-light border">
    
    <ul class="navbar-nav">
      <li class="nav-item h3 my-0">
      <a class="nav-link" href="{{ url_for('main') }}">Main</a>
      </li>
      <li class="nav-item h3 my-0">
      <a class="nav-link" href="{{ url_for('result', data=' ') }}">Result</a>
      </li>
      <li class="nav-item h3 my-0">
      <a class="nav-link" href="{{ url_for('files') }}">Files</a>
      </li>
      <li class="nav-item h3 my-0">
      <a class="nav-link" href="{{ url_for('help_') }}">Help</a>
      </li>
    </ul>
    
  </nav>

</div>
</br>